.nav {
    display: flex;
    width: 360px;
    height: 60px;
    justify-content: space-between;
    background-color: papayawhip;
}

.nav--menu {
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.nav--icons {
    display: flex;
    align-items: center;
}

.imgflex {
    width: 20px;
    margin-right: 20px;
}